body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #004080;
    color: white;
    padding: 30px;
    text-align: center;
}

section {
    background-color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
}

h2 {
    color: #004080;
}

footer {
    background-color: #004080;
    color: white;
    text-align: center;
    padding: 10px;
}
